*__pycache__*
.DS_Store

# Data files
application/fluxnet/data/daily.csv
application/fluxnet/data/fluxnet_site_region_dict.csv
application/ecosystem/data/InputDataMigliavacca2021.csv
application/ecosystem/data/EFPN_with_pcs_and_continents.csv

# Results and figures
*results*
*figures*

# Older files
comparison/stablepca_old.py
comparison/stablepca_algorithm.py
*ADD_LATER*
*fancyimpute*
*mcam*
*citation*
*bibtex*
*two_solutions*